

<div>
  <div class="flow-root mt-6">
    <ul role="list" class="-my-5 divide-y divide-gray-200">
      <li class="py-5">
        <div class="relative focus-within:ring-2 focus-within:ring-teal-500">
          <h3 class="text-sm font-semibold text-gray-800">
            <a href="#" class="hover:underline focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
             {{!-- {{guest.first}} --}}
             John Smith
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-600 line-clamp-2"> johnsmith@gmail.com</p>
        </div>
      </li>

       <li class="py-5">
        <div class="relative focus-within:ring-2 focus-within:ring-teal-500">
          <h3 class="text-sm font-semibold text-gray-800">
            <a href="#" class="hover:underline focus:outline-none">
              <span class="absolute inset-0" aria-hidden="true"></span>
             {{!-- {{guest.first}} --}}
             Alta Christine
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-600 line-clamp-2"> alta@gmail.com</p>
        </div>
      </li>

    </ul>
  </div>
  <div class="mt-6">
    <a href="#" class="w-full flex justify-center items-center px-4 py-2 border border-teal-500 border-2 shadow-sm text-sm font-medium rounded-md text-teal-600 bg-white hover:bg-gray-50"> go to wedding </a>
  </div>
</div>
{{#if guest.access}}<h1>{{wedding.partner1}} and {{wedding.partner2}}'s Guestbook</h1>{{/if}}
{{#unless guest.access}}<h1>Your Guestbook</h1>{{/unless}}
{{#unless guest.access}}
    {{#each signatures}}
        {{> guestbook-private}}
    {{/each}}
{{/unless}}
{{#if guest.access}}
    {{#each signatures}}
        {{> guestbook-public}}
    {{/each}}
{{/if}}
{{#if guest.access}}<button>Sign the Guestbook</button>{{/if}}
<a href="/wedding/{{wedding.id}}">Back to Wedding</a>
