<div class="d-block">
<h1>{{{wedding.partner1}}} and {{wedding.partner2}}'s Wedding</h1>

<h2> Wedding Event Details</h2>
{{#each events as |event|}}
    {{> wedding-event}}
{{/each}}
<a href="/wedding/{{wedding.id}}/guestbook">Guestbook</a>
<a href="/wedding/{{wedding.id}}/album">Wedding Album</a>
<a href="/wedding/{{wedding.id}}/registry">Gift Registry</a>

</div>

{{#unless guest.access}}<script src='/javascript/weddingManager.js'></script>{{/unless}}